* {
  margin: 0;
  padding: 0;
  --header-color: blanchedalmond;
  --border-color: #40826d;
  --border-color1: #654321;
  --body-color: blanchedalmond;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--body-color);
  height: 100vh;
  max-width: 100vw;
}

/* HEADER */
nav {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.promark__image {
  height: 5vh;
  padding: 0.2%;
}

/* MIDDLE BODY */
.middle {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex: 20;
  width: 100%;
}
.navbar {
  display: flex;
  width: 100% !important;
}
.selectMode {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
button {
  display: flex !important;
}

.middleContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partsToProduce {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 1%;
  padding: 1%;
  align-items: center;
  background-color: bisque;
}
#noOfParts {
  max-width: 50% !important;
}

.operation {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 1%;
  align-items: flex-start;
}

#startManualOperation {
  margin-top: 5%;
}

fieldset {
  margin-top: 3%;
  background-color: bisque;
  width: 100%;
  padding: 1%;
}
